* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'ubuntu', sans-serif;
}

p {
	text-align: center;
}
.passed {
	color: #017e62;
	font-weight: 500;
	background-color: #e9f6ec;
}
.failed {
	color: #e36868;
	font-weight: 500;
	background-color: #fceaec;
}
.curated {
	color: #0094ff;
	font-weight: 500;
	background-color: #e9f6ec;
}
.not-reviewed {
	color: #0094ff;
	font-weight: 500;
	background-color: #e9f6ec;
}
